/* CSS For All Components */

*{
    margin: 0;
    padding: 0;
}

/* for id game */
#game{
    height: 500px;
    width: 390px;
    border: 1px solid black;
    background: url(3-lane.png);
    background-size: contain;
    margin: 1rem auto;
    overflow: hidden;
}

/* for id game */

#bluecar{
    height: 100px;
    width: 130px;
    /* background-color: black; */
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
    animation: move 2s linear infinite;
}

@keyframes move{
    0%{
        top: 0px;
    }
    100%{
        top: 501px;
    }
}

/* for id game */
#racecar{
    height: 100px;
    width: 130px;
    /* background-color: red; */
    position: relative;
    text-align: center;
    top: 250px;
    left: 130px;
}

/* for img tag inside the tag having id img */
#bluecar img{
    height: 100px;
}

/* for img tag inside the tag having id img */
#racecar img{
    height: 100px;
}

/* for id btn */
#btn{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: cyan;
    font-size: 25px;
    margin-top:10px;
    cursor: pointer;
    text-transform: uppercase;
}

/* for id score */
#score{
    font-size: 2.2rem;
    color: brown;
}

/* for id result */
#result{
    height: 200px;
    width: 400px;
    background-color: cornflowerblue;
    margin: 1rem auto;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    color: white;
    display: none;
}